*,
*::befor,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}

:root {
    --light: #fff;
    --dark: #333;
}

body {
    background-color: var(--dark);
}

.nav {
    opacity: 0.9;
    filter: (opacity=50);
}