*,
*::befor,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans TC', sans-serif;
    overflow-x: hidden;
}

:root {
    --light: #fff;
    --dark: #333;
}

/* navbar */

.navbar {
    background-color: rgb(0, 0, 0);
    opacity: .9;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    font-size: 0.6em;

}

/* header */

.bg-img {
    height: 120%;
    width: 100%;
   
}

.bg-img-left {
    margin-left: -30px;
}

.bg-img-right {
    margin-right: -25px;
}

/* slides */
.slides {
    background: #000;
}

/* about */

.develop-text {
    display: flex;
    align-items: center;
}

.navbar .navbar-nav .dropdown .dropdown-item:hover {
    background-color: #333;
}



/* 影視部 */

#影視部:has(img:hover) img:not(:hover) {
    scale: 0.8;
    opacity: 0.7;
}

#影視部 img {
    transition: scale 350ms ease, opacity 350ms linear;
}

/* 遊戲部 */
#遊戲部 {
    background: #000;
}

/* 漫畫部 */
#漫畫部:has(img:hover) img:not(:hover) {
    scale: 0.8;
    opacity: 0.7;
}

#漫畫部 img {
    transition: scale 350ms ease, opacity 350ms linear;
}

#漫畫部 img {
    border: 1rem solid black;
}

/* products */
.products {
    background: black;
}

.products .products-items {
    border: .5px solid whitesmoke;
}

/* contacts */

.contact .d-flex {
    justify-content: flex-start;
}

.contact {
    padding: .5rem;
    margin-top: 3rem;
    margin: 0 auto;
}